OWNER_NAME="Bryant"
PREFIX="-"
PUBLIC_MODE='non'
AUTO_READ_STATUS="non"
AUTO_DOWNLOAD_STATUS="oui"
BOT_NAME= "MADARA_MD-V2"
IMAGE_MENU= "https://telegra.ph/file/f34229bd042849a2b60e6.mp4"
NUMERO_OWNER= ""
OWNER_NAME= "᚛Bryanttech᚜"
DATABASE_URL= ""
WARN_COUNT= ""
OPENAI_API_KEY= ""
STARTING_BOT_MESSAGE='yes'
ANTI_DELETE_MESSAGE='yes'
